body{
  background-color: DodgerBlue;
}

#box {
  margin-top: 30px;
 /* outline: .5px solid grey;*/
  display: none;
}

p{
  padding: 20px;
  background: Beige;
}

.hed{
  padding-top: 20px;
  padding-bottom: 10px;
  color: white;
}

a:link {
  text-decoration: none;
  color: DimGray;
}
a:visited {
  text-decoration: none;
  color: DarkCyan;
}
a:hover {
  text-decoration: none;
  color: Coral;
}
a:active {
  text-decoration: none;
  color: Crimson;
}